<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prudle</title>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="/style.css" -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.min.js"></script>
  </head>

  <body>
  <div class="container">
    <div class="well">
      <h4>Prudle!</h4>
      <p>Mock your HTTP responses to test your RESTful API</p>
    </div>
    <div class="jumbotron col-md-6">
      <!-- <form class="form-horizontal"> -->
        <div class="form-group col-md-12">
          <div style="color:green" id="error-dup"></div>
          <label for="usr">Related API Path:</label>
          <input type="text" name="api_path" class="form-control" id="api_path" value="/">
        </div>
        <div class="form-group col-md-6">
          <label for="sel1">Content Type:</label>
          <select class="form-control" name="content_type" id="ct">
            <option>application/json</option>
            <option>application/xml</option>
            <option>text/html</option>
            <option>application/x-www-form-urlencoded</option>
            <option>multipart/form-data</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="sel1">Character Set:</label>
          <select class="form-control" name="char_set" id="cs">
            <option>UTF-8</option>
            <option>UTF-16</option>
            <option>ISO-8859-1</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="sel1">Status Code:</label>
          <select class="form-control" name="status_code" id="sc">
            {{range $key, $value := .Status}}
             <option value="{{ $key }}">{{ $key }} - {{ $value }}</option>
           {{end}}
          </select>
        </div>
        <div class="form-group col-md-12">
          <label for="comment">Body(Your Custom Response):</label>
          <textarea class="form-control" rows="12" name="payload" id="payload"></textarea>
        </div>
        <div class="form-group col-md-8 pull-right">
           <button type="submit" id="btn-submit" class="btn-primary btn-lg">Generate Your Link!</button>
         </div>
      <!-- </form> -->
    </div>
    {{if .ApiList}}
    <div class="jumbotron col-md-5 pull-right" id="result">

      <div class="form-group">
        <h2>Your API List</h2>
        <ul class="list-group">
          {{range $index, $element := .ApiList}}
          <li class="list-group-item"><a href="{{ $element }}"target="_blank">{{ $element }}</a></li>
          {{end}}
        </ul>
      </div>
    </div>
    {{else}}
    <div class="jumbotron col-md-5 pull-right" id="result" hidden>
      <div class="form-group">
        <h2>Your API List</h2>
        <ul class="list-group"></ul>
      </div>
    </div>
    {{end}}
  </div>
  <script>
  var showBorder = function(path){
    $("#result div ul li").filter(function() {
         return $(this).text() === path;
     }).css({"border": "1px solid green", "margin-bottom":"0px"});
  }

  var removeBorder = function(path){
    $("#result div ul li").each(function() {
         return $(this).text() === path;
     }).css({"border": "1px solid #ddd", "margin-bottom":"-1px"});
  }

  var showPathError = function(){
    $("#api_path").css({"border": "1px solid red", "margin-bottom":"0px"});
    $("#error-dup").css({"color":"red"});
    $("#error-dup").text("Give some valid path other than the root path!")
  }

  var clearError = function() {
    $("#api_path").css({"border": "1px solid #ddd", "margin-bottom":"-1px"});
    $("#error-dup").css({"color":"green"});
    if($("#api_path").val().charAt(0) !== "/"){
      $("#api_path").val("/"+$("#api_path").val());
    }
  }


   $('#btn-submit').click(function () {
     if ($("#api_path").val() === "/" || $("#api_path").val() === "") {
       showPathError();
     }else{
       clearError()
       var data_p = {
         api_path: $("#api_path").val(),
         content_type: $("#ct").val(),
         status_code: $("#sc").val(),
         char_set: $("#cs").val(),
         payload: $("#payload").val(),
       };
         $.ajax({
           url: "/mock",
           type: "POST",
           data : data_p,
           success : function(res) {
             var result = JSON.parse(res);
             removeBorder(result.Path)
             if (result.Duplicate === true){
               $("#error-dup").text("It's a duplicate endpoint, but updated with latest inputs!")
               showBorder(result.Path)
             }else{
               $("#error-dup").text("");
               $("#result").show()
               $('#result div ul').append('<li class="list-group-item"><a href="'+result.Path+'"target="_blank">'+result.Path+'</a></li>');
             }
           },
           error: function(err) {
             console.log(err);
           },
         });
     }
    });
   </script>
 </body>
</html>
